.nav-main {
  display: none;
}
.basic__header-block {
  padding-top: 42px;
}
.basic__header-block {
  justify-content: space-between;
  margin-right: 3.1%;
  margin-left: 3.1%;
}
.basic__header-block__header::before {
  content: '';
  display: block;
  position: absolute;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  width: 2px;
  height: 40px;
  background-color: #41F6D7;
  left: 0;
}
.basic__header-block__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
}
.container__elements {
  display: flex;
  align-items: center;
}
.container__elements:last-child {
  margin-left: 35px;
}
.container__element {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container__text {
  color: #1b1c21;
  margin-left: auto;
  margin-right: 0.8vw;
  white-space: nowrap;
}
.basic__navigation__container > a {
  padding: 8px 15px;
  box-sizing: border-box
}
.status__1 {
  display: block;
}
.points__status:first-child {
  border: 2px solid #b8ffec;
  border-radius: 5px;
  background-color: white;
}
.status__3 {
  display: none;
}
.basic__navigation__container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 8px;
}
.basic__text {
  display: flex;
  justify-content: space-between;
  width: 94%;
  margin-left: auto;
  margin-right: auto;
}
.basic__navigation {
  margin-left: 3%;
  margin-right: 3%;
}
.basic__header-block__line {
  margin-right: 2.7%;
}


.basic__text__link-further {
  margin-top: 15px;
}
.basic__text__image {

  width: 50%;
  margin-left: 3.2%;
  height: auto;
  border-radius: 15px;
}