.nav-main {
  display: none;
}
.basic__header-block {
  justify-content: space-between;
  padding-right: 3.1%;
}
.basic__header-block__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  padding-right: 10px;
}
.container__elements {
  display: flex;
  align-items: center;
}
.container__elements:last-child {
  margin-left: 2.8vw;
}
.container__element {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container__text {
  color: #1b1c21;
  margin-left: auto;
  margin-right: 1vw;
  white-space: nowrap;
}

.basic__navigation__container {
  display: flex;
  flex-wrap: wrap;
}
.basic__text {
  display: flex;
  justify-content: space-between;
  width: 93.75%;
  margin-left: auto;
  margin-right: auto;
}
.basic__navigation {
  margin-left: 3.1%;
}
.basic__header-block__line {
  margin-right: 2.7%;
}
.basic__text__text-container {
  width: 46.5%;
}

.basic__text__link-further {
  margin-top: 15px;
}
.basic__text__image {
  width: 46.5%;
  height: auto;
  border-radius: 15px;
}