.nav-main {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 18.5px;
  margin-bottom: 18.5px;
}
.nav-main__menu > img {
  display: none;
}
.nav-main__additional-info {
  display: none;
  margin: 0;
}
.icon-burger {
  width: 40%;
  height: 16px;
}
.nav-main__information {
  margin: 0;
}
.nav-main__information > img  {
  margin-right: 20px;
}
.nav-main__information > button:last-child{
  margin-left: 16px;
}
.icon-setting {
  width: 20px;
  height: 20px;
}
.icon-status {
  width: 18px;
  height: 20px;
}
.nav-main__logo-info {
  margin-right: auto;
  margin-left: 20px;
}
.basic {
  border-top: 1px solid #D9FFF5;
}
.basic__header-block {
  padding-top: 24px;
  margin-left: 5%;
  margin-right: 5%;
}
.basic__header-block__header::before {
  content: '';
  display: block;
  position: absolute;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  width: 2px;
  height: 40px;
  background-color: #41F6D7;
  left: 0;
}
.basic__navigation {
  margin-top: 24px;
}
.basic__navigation__container > a {
  padding: 8px 13px;
}

.basic__header-block__line {
  margin-right: 4.5%;
}
.basic__header-block__container {
  display: none;
}
.basic__navigation {
  overflow-y: hidden;
  margin-left: 5%;
}
.basic__navigation__container::-webkit-scrollbar {
  display: none;
}
.basic__navigation__container {
  display: flex;
  flex-wrap: nowrap;
  -ms-overflow-style: none;
  white-space: nowrap;
  scrollbar-width: none;
  overflow: scroll;
}
.basic__navigation__container > a {
  scroll-snap-align: start;
}

.basic__text__text-container {
  outline: none;
  overflow: hidden;
  margin-right: 5%;
  margin-left: 5%;
  flex-shrink: 1;
}
.basic__text__link-further {
  margin-top: 15px;
  margin-bottom: 15px;
}
.basic__text__image {
  width: 100vw;
  height: auto; 
  margin: 0;
}