* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  @font-face {
    font-family: "TT Lakes";
    src: url("TTLakes-Medium.eot");
    src: local("TT Lakes Medium"), local("TTLakes-Medium"),
      url("../src/fonts/TTLakes/TTLakes-Medium.eot") format("embedded-opentype"),
      url("../src/fonts/TTLakes/TTLakes-Medium.woff") format("woff"),
      url("../src/fonts/TTLakes/TTLakes-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
  }
  body {
    font-family: "TT Lakes";
  }
  .element {
    border: none;
    border-radius: 50%;
    min-width: 40px;
    min-height: 40px;
    background-color: #ff3e79;
  }
  .nav-main__logo-info__logo {
    max-width: 90px; 
    width: 1vmin;
    margin: 0;
    height: auto;
    flex-grow: 2;
    flex-shrink: 2;
  }
  .element__icon {
    margin: 0 auto;
  }
  .nav-main__menu {
    display: flex;
    align-items: center;
  }
  .nav-main__logo-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-main__information {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  .basic {
    background-color: #f8f8f8;
    height: 100vh;
  }
  .basic__header-block {
    display: flex;
    padding-top: 3%;
    padding-bottom: 3%;
  }
  .basic__header-block__line {
    float: left;
  }
  .basic__header-block__header {
    font-size: 28px;
    color: #1b1c21;
  }
  .basic__navigation {
    padding-bottom: 5px;
  }
  .basic__navigation__container {
    display: flex;
  }
  .basic__navigation__container > a {
    white-space: nowrap;
    padding: 7px 14px;
    color: #7e7e82;
    text-decoration: none;
  }
  .status__active {
    border: 2px solid #b8ffec;
    border-radius: 5px;
  }
  .basic__text {
    margin: 20px 3.1%;
    padding-bottom: 35px;
  }
  .basic__text__text-container {
    font-size: 14px;
    color: #1b1c21;
  }
  .basic__text__link-further {
    display: flex;
    align-items: center;
  }
  .basic__text__link-read {
    color: #1b1c21;
    text-decoration: none;
    font-weight: 500;
  }