.nav-main {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 3.125%;
  margin-right: 3.125%;
  margin-top: 18.5px;
  margin-bottom: 18.5px;
}
.nav-main__menu {
  width: 8.5%;
  justify-content: space-between;
}
.nav-main__logo-info {
  width: 67.3%;
  flex-shrink: 4;
} 
.nav-main__menu > img {
  display: block;
}
.nav-main__additional-info {
  display: block;
  width: 29.4%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-main__information {
  width: 17.7%;
}
.basic__header-block__container {
  display: none;
}
.basic__navigation__container::-webkit-scrollbar {
  display: none;
}
.basic__navigation__container {
  -ms-overflow-style: none;
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  scrollbar-width: none;
  overflow: scroll;
}
.basic__navigation__container > a {
  scroll-snap-align: start;
}
.basic__text {
  display: grid;
  grid-template-columns: repeat(2, minmax(42%, 1fr));
  align-items: stretch;
}
.basic__header-block__line {
  margin-right: 3.1%;
}
.basic__text__text-container {
  width: 86%;
}
.basic__text__link-further {
  order: 1;
  margin-top: 10px;
}
.basic__text__image {
  background-image: url('../src/images/_MG_3223.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  grid-row: span 2;
}
