.nav-main {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  align-items: center;
  width: 93.75%;
  margin-top: 18.5px;
  margin-bottom: 18.5px;
  margin-left: auto;
  margin-right: auto;
}
.nav-main__menu {
  justify-content: space-between;
}
.nav-main__menu > button {
  margin-right: 20px;
}
.nav-main__logo-info {
  margin-right: auto;
  margin-left: auto;
  justify-content: space-between;
  width: 100%;
} 
.nav-main__logo-info__logo {
  margin-left: 20px;
}
.nav-main__additional-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
}

.nav-main__additional-info__element:nth-child(n + 2) {
  margin-left: 16px;
}
.nav-main__information > img  {
  margin-right: 20px;
}
.nav-main__information > button:last-child {
  margin-left: 16px;
}
.basic {
  border-top: 1px solid #D9FFF5;
}
.basic__header-block {
  padding-top: 24px;
  margin-right: 3.1%;
  margin-left: 3.1%;
}

.basic__header-block__header::before {
  content: '';
  display: block;
  position: absolute;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  width: 2px;
  height: 40px;
  background-color: #41F6D7;
  left: 0
}
.basic__navigation {
  margin-top: 30px;
}
.basic__navigation__container > a {
  padding: 0;
  padding: 7px 13px;
}
.status__1 {
  display: none;
}
.points__status:nth-child(2) {
  border: 2px solid #b8ffec;
  border-radius: 5px;
  background-color: white;
}
.basic__header-block__container {
  display: none;
}

.basic__navigation {
  margin-left: 3.1%;
}
.basic__navigation__container::-webkit-scrollbar {
  display: none;
}

.basic__navigation__container {
  -ms-overflow-style: none;
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  scrollbar-width: none;
  overflow: scroll;
}
.basic__navigation__container > a {
  scroll-snap-align: start;
}
.basic__text {
  display: flex;
  justify-content: space-between;
  width: 93.75%;
  margin-left: auto;
  margin-right: auto;
}
.basic__header-block__line {
  margin-right: 3.1%;
}
.basic__text__link-further {
  margin-top: 15px;
}

.basic__text__image {
  object-fit: contain;
  width: 50%;
  height: 100%;
  margin-left: 6.5%;
  border-radius: 15px;
}