.nav-main {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  align-items: center;
  width: 93.75%;
  margin-top: 18.5px;
  margin-bottom: 18.5px;
  margin-left: auto;
  margin-right: auto;
}
.nav-main__menu {
  justify-content: space-between;
}
.nav-main__menu > button {
  margin-right: 2vw;
}
.nav-main__logo-info {
  width: 72%;
  flex-shrink: 2;
  margin-right: 2vw;
  margin-left: 2vw;
} 
.nav-main__additional-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-main__additional-info__element:nth-child(n + 2) {
  margin-left: 2vw;
}
.nav-main__information > button {
  margin-left: 2vw;
}
.basic__header-block__container {
  display: none;
}
.basic__navigation {
  margin-left: 3.2%;
}
.basic__navigation__container::-webkit-scrollbar {
  display: none;
}
.basic__navigation__container {
  -ms-overflow-style: none;
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  scrollbar-width: none;
  overflow: scroll;
}
.basic__navigation__container > a {
  scroll-snap-align: start;
}
.basic__text {
  display: flex;
  justify-content: space-between;
  width: 93.75%;
  margin-left: auto;
  margin-right: auto;
}
.basic__header-block__line {
  margin-right: 3.1%;
}
.basic__text__text-container {
  width: 43.2%;
}
.basic__text__link-further {
  margin-top: 15px;
}
.basic__text__image {
  width: 49.9%;
  border-radius: 15px;
}